# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
pubspec.lock

# Android
android/local.properties
android/.gradle/
android/app/debug/
android/app/release/
android/app/profile/
*.apk
*.aab

# IDE
.idea/
.vscode/
*.iml
